@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.nav-buttons {
  margin-left: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 {
  font-size: 1.9;
  font-weight: 600;
}
h3 {
  font-size: 1.5;
  font-weight: 800;
}
h4 {
  font-size: 1.2;
  font-weight: 600;
}
h5 {
  font-size: 1;
  font-weight: 400;
}
h6 {
  color: #d8d8d8;
}
.navbar {
  font-size: 1.5rem;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  top: 0;
  left: 0;
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.nav-link {
  padding: 0 20px;
  color: #000;
  transition: 0.4 ease;
}
.navbar-light {
  padding: 0 20px;
  color: #000;
  transition: 0.4 ease;
}

.navbar-nav {
  padding: 0 20px;
  color: #000;
  transition: 0.4 ease;
}
.nav-link:hover {
  color: coral;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: coral;
}
.navbar i {
  font-size: 1.2rem;
  padding: 0 0.7px;
  transition: 0.4s ease;
  cursor: pointer;
  margin-left: 5px;
}
.nav i:hover {
  color: coral;
}
.navbar-light .navbar-nav .nav-link.active .navbar i:hover {
  color: coral;
}

@media only screen and (max-width:990px){

.nav-buttons{
  margin: 10px;
}
.nav-buttons ul{
  margin: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.nav-buttons ul .fas{
  margin: 20px 5px 10px 20px;
}

}

#home{
    background-image: url('../imgs/background.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-y: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#home span{
    color: coral;
}



#home .container{
  margin-left: 6rem;
}



/*High light Button design*/

a button{
  position: relative;
  display: inline-block;
  padding: 13px 30px;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 2px;
  border-radius: 2px;
  background: linear-gradient(90deg,#0162c8,#55e7fc);
  transition: 0.5s ease;
}
a button:hover{
  background: linear-gradient(90deg,#755bae,#ff72c0);
}

/*High light Button design Ends*/

/*New Section*/

#new .one img{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#new .one{
  position: relative;
}
#new .one .details{
  position: absolute;
  top: 0;
  left: 0;
  color: burlywood;
  font-weight: bold;
  transition: 0.4s ease;
  opacity: 0.8;
  background-color: rgb(1,1,1);
  width: 100%;
  height: 100%;
}

#new .one ,.details:hover{
  background-color: cornsilk;
}

#new .one .details:hover{
  background-color: cornsilk;
}

#new .one:nth-child(1) .details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

#new .one:nth-child(2) .details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#new .one:nth-child(3) .details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

/* Product */

.product{
  cursor: pointer;
  margin-bottom: 2rem;
}
.product img{
  transition: 0.32 all;
}
.product:hover img{
  opacity: 0.7
}

.product .buy-btn{
  background: linear-gradient(90deg,#0162c8,#55e7fc);
  transform: translateY(50px);
  opacity: 0;
  transition: 0.3s all;
  color: white;
  padding: 0.3rem;
}
.product:hover .buy-btn{
  transform: translateY(0px);
  opacity: 1;
}

hr{
  width: 30px;
  height: 3px !important;
  opacity: 1 !important;
  background-color: #fb774b;
}

.star{
  padding: 10px 0;
}
.star i{
  font-size: 0.9rem;
  color: goldenrod;
}

#banner{
  background-image: url('../imgs/bg.jpg');
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-position-y: 80px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner h1{
  color:coral;
}

#banner button{
  position: relative;
  display: inline-block;
  padding: .5rem;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  border-radius: 2px;
  background: linear-gradient(90deg,#0162c8,#55e7fc);
  transition: 0.5s ease;
}
#banner button:hover{
  background: linear-gradient(90deg,#755bae,#ff72c0);
} 

footer{
  background-color: #222222;
}
footer h5{
  color: #d8d8d8;
  font-weight: 700;
  font-size: 1.2rem;
}
footer li{
  padding-bottom: 4px;
}
footer li a{
  font-size: 1.3rem;
  color: #999;
  text-decoration: none;
}
footer li a:hover{
  color: #d8d8d8;
}
footer .copyright a{
  color: #000;
  height: 40px;
  width: 40px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
}
footer .copyright a:hover{
  color: #fff;
  background-color: orange;
}
footer p{
  color: white;
 font-size: 1rem;
}

footer .copyright img{
  width: 60%;
}

.logo{
  width: 40px;
  height: 40px;
}
.navbar .brand{
  color: coral;
  margin: 3px 5px;
  font-size: 1rem;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
.single-product input:focus{
  outline: none;
}
.single-product .buy-btn{
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  border-radius: 1px;
  background: linear-gradient(90deg,#0162c8,#55e7fc);
  transition: 0.5s ease;
}
.single-product .buy-btn:hover{
  background: linear-gradient(90deg,#755bae,#ff72c0);
}


/*Cart */

.cart table{
  width: 100%;
  border-collapse: collapse;
}
.cart .product-info{
  display: flex;
  flex-wrap: wrap;
}
.cart th{
  text-align: left;
  padding: 5px 10px;
  color: white;
  background-color: #fb774b;
}
.cart td{
  padding: 10px 20px;
}
.cart td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.cart td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
.cart td a{
  color: #fb774b;
}

.cart .remove-btn{
  color: #fb774b;
  text-decoration: none;
  font-size: 15px;
}
.cart .edit-btn{
  color: #fb774b;
  text-decoration: none;
  font-size: 14px;
}
.cart .product-info p{
  margin: 3px;
}

.cart-total{
  display: flex;
  justify-content: flex-end;
}
.cart-total table{
  width: 100%;
  max-width: 500px;
  border-radius: 3px solid #fb774b;
}

td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}
.checkout-container{
  display: flex;
  justify-content: flex-end;
}
.checkout-btn{
  background-color: #fb774b;
  color: white;
}
.checkout-btn:hover{
  background-color: black;
  color: white;
}


/* Login */
#login-form{
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #fb774b;
}

#login-form input{
  width: 50%;
  margin: 5px auto;
}
#login-form #login-btn{
  background-color: #fb774b;
  color: #fff;
}
#login-form #register-url{
  color: #fb774b;
}

/* Register */

#register-form{
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #fb774b;
}

#register-form input{
  width: 50%;
  margin: 5px auto;
}

#register-form #register-btn{
  background-color: #fb774b;
  color: #fff;
}

#register-form #login-url{
  color: #fb774b;
}

/* Account */

#account-form{
  width: 50%;
  margin: 35px auto;
  text-align: center;
  padding: 20px;
}

#account-form input{
  margin: 5px auto;
}

#account-form #change-pass-btn{
  color: #fff;
  background-color: #fb774b;
}

.account-info #orders-btn,#logout-btn{
  color: #fb774b;
  text-decoration: none;
}

/* Order */

.orders table{
  width: 100%;
  border-collapse: collapse;
}

.orders .product-info{
  display: flex;
  flex-wrap: wrap;
}
.orders th{
  text-align: left;
  padding: 5px 10px;
  color: white;
  background-color: #fb774b;
}
.orders th:nth-child(2){
  text-align: right;
}
.orders td{
  padding: 10px 20px;
}
.orders td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}


/* Checkout */
#checkout-form .checkout-small-element{
  display: inline-block;
  width: 48%;
  margin: 10px auto;
}

#checkout-form .checkout-large-element{
  width: 96%;
}
#checkout-form .checkout-btn-container{
  margin: 10px;
  text-align: right;
  margin-right: 40px;
}

#checkout-form #checkout-btn{
  color: #fff;
  background-color: #fb774b;
}

/* Contact */

#contact span{
  color: #fb774b;
}