@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


.nav-buttons{
    margin-left: 60%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.9;
    font-weight: 600;
}
h3{
    font-size: 1.5;
    font-weight: 800;
}
h4{
    font-size: 1.2;
    font-weight: 600;
}
h5{
    font-size: 1;
    font-weight: 400;
}
h6{
    color: #D8D8D8;
}
.navbar{
    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0;
}
.navbar-light .navbar-nav .nav-link{

    padding: 0 20px;
    color: #000;
    transition: 0.4 ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.nav i:hover,
.navbar-light .navbar-nav .nav-link.active
.navbar i:hover{
    color: coral;
}