@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.nav-buttons {
  margin-left: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 {
  font-size: 1.9;
  font-weight: 600;
}
h3 {
  font-size: 1.5;
  font-weight: 800;
}
h4 {
  font-size: 1.2;
  font-weight: 600;
}
h5 {
  font-size: 1;
  font-weight: 400;
}
h6 {
  color: #d8d8d8;
}
.navbar {
  font-size: 1.5rem;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  top: 0;
  left: 0;
  font-weight: bold;
}
.nav-link {
  padding: 0 20px;
  color: #000;
  transition: 0.4 ease;
}
.navbar-light {
  padding: 0 20px;
  color: #000;
  transition: 0.4 ease;
}

.navbar-nav {
  padding: 0 20px;
  color: #000;
  transition: 0.4 ease;
}
.nav-link:hover {
  color: coral;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: coral;
}
.navbar i {
  font-size: 1.2rem;
  padding: 0 0.7px;
  transition: 0.4s ease;
  cursor: pointer;
  margin-left: 5px;
}
.nav i:hover {
  color: coral;
}
.navbar-light .navbar-nav .nav-link.active .navbar i:hover {
  color: coral;
}

@media only screen and (max-width:990px){

.nav-buttons{
  margin: 10px;
}
.nav-buttons ul{
  margin: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.nav-buttons ul .fas{
  margin: 20px 5px 10px 20px;
}

}

#home{
    background-image: url('../imgs/bg.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-y: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#home span{
    color: coral;
}



#home .container{
  margin-left: 6rem;
}



/*High light Button design*/

a button{
  position: relative;
  display: inline-block;
  padding: 13px 30px;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 2px;
  border-radius: 2px;
  background: linear-gradient(90deg,#0162c8,#55e7fc);
  transition: 0.5s ease;
}
a button:hover{
  background: linear-gradient(90deg,#755bae,#ff72c0);
}

/*High light Button design Ends*/

/*New Section*/

#new .one img{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#new .one{
  position: relative;
}
#new .one .details{
  position: absolute;
  top: 0;
  left: 0;
  color: burlywood;
  font-weight: bold;
  transition: 0.4s ease;
  opacity: 0.8;
  background-color: rgb(1,1,1);
  width: 100%;
  height: 100%;
}
#new .one:nth-child(1) .details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}



/*Login Section Design*/

